@use './mixins' as *;
@use './variables' as *;


.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3.325rem;
    &__list{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }
    &__list-item{
        padding-left: 2.5rem;
        color: $secondary-text;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.625rem;
        cursor: pointer;
        transition: color 0.5s ease-in-out;
        &:hover{
            color: $hover-color;
        }
    }
}