.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 2rem;
}
@media (min-width: 1200px) {
  .footer {
    flex-direction: row;
  }
}

.card {
  display: flex;
  margin-right: 1.875rem;
}
.card__right-section {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}
.card__img {
  width: 6.25rem;
  height: 7.9375rem;
}
.card__number {
  font-size: 2rem;
  color: #C5C6CE;
  font-weight: 700;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 0.75rem;
}
.card__title {
  font-size: 1.125rem;
  color: #00001A;
  font-weight: 800;
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5625rem;
  transition: color 0.5s ease-in-out;
  cursor: pointer;
}
.card__title:hover {
  color: #F15D51;
}
.card__description {
  font-size: 0.9375rem;
  color: #5E607A;
  font-weight: 400;
  line-height: 1.625rem;
  margin-top: 0;
  margin-bottom: 0;
  width: 14.125rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3.325rem;
}
.navbar__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.navbar__list-item {
  padding-left: 2.5rem;
  color: #5E607A;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.625rem;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}
.navbar__list-item:hover {
  color: #F15D51;
}

.hero {
  margin-bottom: 4.5rem;
}
.hero__img {
  width: 45.625rem;
  height: 18.75rem;
}
.hero__header {
  font-size: 2.5rem;
  font-weight: 800;
  color: #00001A;
  line-height: 2.5rem;
  margin-top: 1.75rem;
  margin-bottom: 0;
  width: 80%;
}
@media (min-width: 1200px) {
  .hero__header {
    font-size: 3.5rem;
    line-height: 3.5rem;
    width: 100%;
  }
}
.hero__lower-section {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .hero__lower-section {
    flex-direction: row;
  }
}
.hero__paragraph {
  font-size: 0.9375rem;
  font-weight: 400;
  color: #5E607A;
  line-height: 1.625rem;
  margin-top: 1.75rem;
  margin-bottom: 1.8125rem;
  width: 21.875rem;
}
.hero__btn {
  background-color: #F15D51;
  width: 11.5625rem;
  height: 3rem;
  color: #FFFDFA;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.275rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.hero__btn:hover {
  background-color: #00001A;
}

.new {
  background-color: #00001A;
  margin-bottom: 4.5rem;
  padding: 2rem 1.5rem 0 1.5rem;
}
@media (min-width: 1200px) {
  .new {
    margin-left: 1.875rem;
  }
}
.new__header {
  color: #E9AA52;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  margin-top: 0;
}
@media (min-width: 1200px) {
  .new__header {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}
.new__title {
  color: #FFFDFA;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0.5rem;
  transition: color 0.5s ease-in-out;
  cursor: pointer;
}
.new__title:hover {
  color: #E9AA52;
}
.new__description {
  color: #C5C6CE;
  font-size: 0.9375rem;
  line-height: 1.625rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1.8125rem;
}

hr {
  background-color: #5E607A;
  width: 100%;
  height: 0.0625rem;
  margin-bottom: 1.9375rem;
  border: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 1rem 1.75rem 8rem 1rem;
  background: #FFFDFA;
  font-family: "Inter", sans-serif;
}
@media (min-width: 1200px) {
  body {
    padding: 5.625rem 10.3125rem 8.0625rem 10.3125rem;
  }
}

main {
  display: flex;
  flex-direction: column;
}

.main-top {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .main-top {
    flex-direction: row;
  }
}/*# sourceMappingURL=main.css.map */